.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25rem;
    position: relative;
    
}

.input {
    height: 2.5rem;
    border: 1px solid purple;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    padding: .5rem;
    font-size: 16px;
}

.button {
    height:100%;
    position: absolute;
    right: 5px;
    padding: 0;
    background-color: transparent;
    width: 2rem;
    border:none;
}

.empty {
    background-color: rgba(255,182,193,.9);
}
